.ejemplogooglefonts {
    font-family: "roboto", sans-serif;
}

/* inicio */
body {
    background-image: url("/img/fondo2.png");

}

header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


h1.Dulces__Tentaciones {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    white-space: pre-line;
    background-color: rgb(182, 179, 219);
    border: solid;
    color: aliceblue;
}

h2.Pasteleria__Artesanal {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    background-color: rgb(221, 180, 209);
    border: solid;
    color: aliceblue;
}

.inicio {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    display: grid;
    gap: 5px;

}

.dulce {
    width: 300px;

}

@media screen and (min-width: 480px) {
    .dulce {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 480px) {}

/* segunda pagina */
* {
    margin: 0px;
    padding: 0px;

}

h1.lista__detortas {
    text-align: center;
    font-size: 3em;
    background-color: rgb(189, 199, 249);
    border: solid;
    margin-bottom: 50px;
}

main {
    max-width: 800px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    gap: 10px;
    /* display: flex; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.piquitos {
    width: 200px;
    height: 200px;
}

.pupi {
    width: 200px;
    height: 200px;
}

.cheescake {
    width: 200px;
    height: 200px;
}

.tentacion {
    width: 200px;
    height: 200px;

}

.lemon {
    width: 200px;
    height: 200px;
    /* grid-column: 2/3; */
}

.rogel {
    width: 200px;
    height: 200px;
}

.delicia {
    width: 200px;
    height: 200px;
}

.frutilla {
    width: 200px;
    height: 200px;

    /* grid-column: 1/2;
    grid-row: 1/2;
}

div {
    position: relative;
}

img {
    object-fit: cover;
    width: 80%;
    height: 80%;
}

.p {
    width: 100%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .tortas {
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {

}



/* tercera pagina */
    h1.Nuestros__productos {
        text-align: center;
        font-size: 3em;
        background-color: bisque;
    }

    /*varios de alfajores y demas*/
    .productos {
        display: flex;
    }

    .maicena {
        width: 200px;
    }

    .macarons {
        width: 200px;
        height: 300px;
    }

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;
        margin-top: 30px;
        padding-left: 250px;

    }

    img {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 450px;

    }


    /*historia*/
    .july {
        width: 400px;
        display: flex;

    }

    .julieta {
        width: 400px;

    }

    nav {
        display: flex;

    }

    .menu {
        display: flex;

    }

    .menu li {
        padding: 10px;
        margin: 20px;
        background-color: rgb(240, 229, 137);
        border: solid 5px;
        color: white;

    }

    .ul {
        list-style-type: none;
        display: inline;
    }