body {
    background-image: url("/img/fondo2.png");
}

/* lista de tortas */


.tentacion {
    width: 300px;
    height: 300px;

}

.pupi {
    width: 300px;
    height: 300px;
}

.piquitos {
    width: 300px;
    height: 300px;
}

.lemon {
    width: 300px;
    height: 300px;
    
}

.cheescake {
    width: 300px;
    height: 300px;

}

.rogel {
    width: 300px;
    height: 300px;
    
}

.delicia {
    width: 300px;
    height: 300px;
}

.frutilla {
    width: 300px;
    height: 300px;
    
}

/* logo */
.dulce{
    width: 300px;
    height: 300px;
}
/* producvtos */
.maicena{
    width: 300px;
    height: 400px;
}
.macarons{
    width: 300px;
}





