@import "variables";
@import "tipografia";
@import "mixins";

@function color($color-name) {
    @return map-get($colors, $color-name);
}

body {
  background-color:beige;
}

/* pagina de inicio*/

.Dulces__Tentaciones {
    font-family: $titulos;
    text-align: center;
    font-size: 3em;
    text-decoration: $subrayado;

}

.Pasteleria__Artesanal {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 2em;
    text-decoration: $subrayado;

}

.variastortas {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border: solid 3px black;
    transform: translateX(200px);
}



.tentacionconmacaron {
    width: $widht;
    height: $height;
    margin-top: 100px;
    border: solid 3px black;
    transform: translateX(300px)
}

p.inicio {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;

}

/* lista de tortas */

h1.Tortas {
    font-family: $titulos;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;

}




/* logo */
.dulce {
    width: $widht2;
    height: $height2;
    margin-bottom: 10px;
    transform: translateX(500px);
}

/* productos */

h1.Productos {
    font-family: $titulos;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

.maicena {
    width: $widht2;
    height: $height;
}

.macarons {
    width: $widht2;
}

.nav-link {
    background-color:#d5aef9 ;
    color:white;
    border: solid 2px;
    margin-bottom: 50px;
}

.scones {
    width: 350px;
    height: 350px;
}

.alfajoresdechoco {
    width: 350px;
    height: 350px;
}

/* historia tercer pagina */

.historia{
    clear:left;
    padding: 20px;
    margin: 10px;
font-family:$titulos;
}

.jyo {
float: right;
}

.jyj {

    float: left; 
}


/* pie de paginas */
.facebook {
float:left ;
}

.insta2 {
    width: 30px;
    height: 30px;
    display: flex;


}

.face2 {
    width: 30px;
    height: 30px;
    display: flex;

}

/* ultima pagina */
h2.Formulario {
    text-align: center;
    font-family: $titulos;
    font-size: 2em;
}
.barra{
    min-width: 10px;
}